.btn-oval-blue {
    white-space: nowrap;
    cursor: pointer;
    border: none;
    display: inline-block;
    border-radius: 22px;
    background-color: #595ca9;
    padding: 12px 40px;
    color: #ffffff;
    font-family: "IBM Plex Sans";
    font-size: 14px;
    font-weight: 500;
    &:focus {
        outline: none;
    }
    &:hover {
        box-shadow: 0 4px 10px rgba(89, 92, 169, 0.4);
        background-color: #41449a;
    }
    &:active {
        color: #cdcee5;
        box-shadow: 0 2px 6px rgba(89, 92, 169, 0.5);
    }
}

.btn-oval-red {
    border-radius: 26.5px;
    background: #f7233c url("../images/icon-arrow-white.svg") no-repeat right 2rem center;
    white-space: nowrap;
    cursor: pointer;
    border: none;
    padding: 1.3rem 5.2rem 1.3rem 2.6rem;
    color: #ffffff;
    font-family: 'Lexend Deca';
    font-size: 1.5rem;
    font-weight: normal;
    white-space: nowrap;
    &:focus {
        outline: none;
    }
    &:hover {
        box-shadow: 0 4px 10px rgba(229, 0, 0, 0.4);
        background-color: #cf0000;
    }
    &:active {
        color: #f1b2b2;
        box-shadow: 0 2px 6px rgba(229, 0, 0, 0.5);
        background-color: #cf0000;
    }
}

.btn-oval-green {
    white-space: nowrap;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    background-color: #2F8378;
    padding: 13px 44px;
    color: #ffffff;
    font-family: 'IBM Plex Sans';
    font-size: 16px;
    font-weight: 700;
    border: none;
    white-space: nowrap;
    &:focus {
        outline: none;
    }
}

.btn-play-blue-white {
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    &:hover {
        box-shadow: 0 8px 22px 0 rgba(28, 31, 30, 0.3);
    }
}