html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: $font_primary;
    font-size: 1.6rem;
    line-height: 1.4;
    color: $main_text;
    background-color: #FFFFFF;
}

input,
textarea {
    @include placeholder($gray_hsl70);
}

a {
    text-decoration: none;
}

.red-line {
    width: 5rem;
    height: 0.2rem;
    background-color: #ff001f;
}

.red-line-small {
    width: 3.5rem;
    height: 0.2rem;
    background-color: #ff001f;
}

.black-line {
    width: 5rem;
    height: 0.2rem;
    background-color: #000000;
}

.black-line-small {
    width: 3.5rem;
    height: 0.2rem;
    background-color: #000000;
}

.footer {
    background-color: #121213;
    .footer-container {
        max-width: 110.4rem;
        width: 100%;
        margin: 0 auto;
        /* padding: 16rem 0 0 15rem; */
        display: flex;
        flex-direction: column;
        padding: 0 4rem;
    }
    .footer-input {
        background-color: #121213;
        width: 100%;
        border: none;
        font-family: Martel;
        font-size: 2.3rem;
        font-weight: 200;
        padding: 3rem 0;
        outline: none;
        caret-color: #ffffff;
        color: #ffffff;
        border-bottom: 1px solid #282828;
        &::placeholder {
            font-family: Martel;
            font-size: 2.3rem;
            font-weight: 200;
            color: rgba(255, 255, 255, 0.44);
        }
    }
    .logo-footer {
        font-family: 'Lexend Deca';
        font-size: 1.7rem;
        font-weight: bold;
        color: #ffffff;
    }
}